* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("images/commercial-roof-coatings-florida.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo {
    height: 15vh;
    width: auto;
    float: left;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    text-align: right;
    height: 15vh;
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: black;
}

.click2call {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
}

.click2call:hover {
    border: 1px solid white;
    background: purple;
    transition: 1s;
    color: white;
}
